.navbar {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 1px solid #000;
    border-top: 2px solid var(--secondary-background-color);
    box-sizing: border-box;
    z-index: 0;
}

.navbar * {
    z-index: 1;
}