.genres-list {
    padding-top: 10px;
}

.genres-list__item {
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 500;
    color: var(--main-text-color);
    text-transform: uppercase;
    background-color: inherit;
    margin-right: 30px;
    padding: 10px 0 20px 0;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all ease .3s;
}

.genres-list__item--active {
    border-bottom: 3px solid var(--decorations-color);
}